$textColor: #382110
$bgColor: #f4f1ea

.header
    background-color: $bgColor

@mixin row
    height: 50px
    @apply flex shadow-md items-center

.firstRow
    @include row
    > span
        @apply flex-1
        > img
            @apply inline-block cursor-pointer

.secondRow
    color: $textColor
    @include row
    > div
        line-height: 50px
        @apply flex-1 text-center cursor-pointer
        &:hover
            background-color: $textColor
            @apply text-white

.search
    top: 52px
    height: 48px
    background-color: $bgColor
    @apply fixed w-full flex
    > input
        border: #DCD6CC 1px solid
        color: $textColor
        @apply flex-1 w-full pl-2 m-2 mr-0
    > button
        color: #00635D
        @apply w-16 hover:underline cursor-pointer text-sm
