$textColor: #382110

@mixin row
    @apply h-12 flex shadow-md items-center
        
    
.header
    background-color: #f4f1ea

.firstRow
    @include row
    > span
        @apply flex-1
        > img
            @apply inline-block cursor-pointer

.secondRow
    color: $textColor
    @include row
    > div
        line-height: 50px
        @apply flex-1 text-center cursor-pointer
        &:hover
            background-color: $textColor
            @apply text-white
